body{background: /* url(../images/login.png) no-repeat center top;  */color: #333333;}
	
#section {padding-top: 100px; height: 700px;}

#sign{width: 500px; margin: 0 auto;}

.sign{text-align:center; font-size:60px; font-weight:bold; margin-bottom:70px;display:block;}

#id{text-align:center;height:100px; position:relative;}
	#id>p{fleat: left; width:100px; display:block; position:absolute; top:12px; font-size:23px;}
	#id>input{width:300px; height: 50px; font-size:20px; margin-left:10px; font-size:23px;}

#pwd{text-align:center;height:100px; position:relative;}
	#pwd>p{fleat: left; width:100px; display:block; position:absolute; top:10px; font-size:23px;}
	#pwd>input{width:300px; height: 50px; font-size:20px; margin-left:10px; font-size:23px;}

#name{text-align:center;height:100px; position:relative;}
	#name>p{fleat: left; width:100px; display:block; position:absolute; top:10px; font-size:23px;}
	#name>input{width:300px; height: 50px; font-size:20px; margin-left:10px; font-size:23px;}

#email{text-align:center; height:100px; position:relative;}
	#email>p{fleat: left; width:100px; display:block; position:absolute; top:10px; font-size:23px;}
	#email>input{width:300px; height: 50px; font-size:20px; margin-left:10px; font-size:23px;}

.bnt1{padding: 150px; padding-top: 50px; text-align:center;}
.btn2{}