html{overflow-y: scroll; overflow-x: hidden;}
*{margin: 0; padding: 0;}
img{border: 0;}
body{/* background: url(../images/b.png) no-repeat center top; */ color: #333333;}
ul, li, dd, dt, dl{list-style: none;}
a{text-decoration: none;}
a:link{color: #333333;}
a:visited{color: #333333;}
.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cf:after{content: ''; display: block; clear: both;}


#header{background: #2d71c4; width: 100%; height: 157px; margin: 0 auto; z-index: 1000;}
	#main{width: 1420px; height: 87px; margin: 0 auto; z-index: 1000;}
		#main>.logo{background-color: #2d71c4; width: 206px; height: 87px;}
		#main>.logo>a>img{width: 170px; height: 47px; background-image: url(../images/logo.png) no-repeat; margin-top: 19px; margin-left: 6px;}
		h1{display: none;}
	#tab{float: left; width:470px ; height: 87px;}
		#tab>ul>li{float: left; margin-left: 30px; margin-top: 30px;}
		#tab>ul>li>a{margin-left: -8px; margin-right: 5px; font-size: 20px; color: #ffffff; text-align: center; box-sizing: border-box;}
		.active{background: #2967b2; border: 2px solid #1f4f89; padding: 3px 6px;}
		
 	#tabright{float:right; display: block; height: 80px;}
		#tabright>ul>li{float: right; margin-right: 30px; margin-top: 30px;}
		#tabright>ul>li>a{margin-left: -8px; margin-right: 10px; font-size: 20px; color: #ffffff; text-align: center; box-sizing: border-box;}
		
	#search{float:left; width: 300px;}
		#search>ul>li{float: right; margin-right: 5px; margin-top: 30px;}
		#search>ul>li>a{margin-right: -8px; margin-right: 10px; font-size: 20px; color: #ffffff; text-align: center; box-sizing: border-box;} 
	
#nav{width: 100%; height: 70px; /* background: #2d71c4; */ position: relative; z-index: 1000; background: #2d71c4;}
	#nav>ul{width: 1420px; height: 70px; margin: 0 auto;}
	#nav>ul>li{float: left; height: 70px; margin-right: 10px;}
	#nav>ul>li>a{color: #ffffff; height: 70px; padding: 0 18px; font-size: 23px; font-weight: bold; box-sizing: border-box; display: block; line-height: 70px; text-align: center;}

.twoDepth{width: 100%; position: absolute; left: 0px; top: 70px; background: #ffffff; border-bottom: 3px solid #2d71c4; display: none;}
	.two{width: 1420px; margin: 0 auto;}
	.twoTop, .twoBottom{clear: both; width: 1420px; margin: 0 auto;}

	#nav>ul>li>div>div>ul{float: left; display: block; line-height: 30px; margin-top: 25px; margin-bottom: 20px; margin-right: 60px; margin-left: 20px;}
	
	#nav>ul>li>div>div>div>ul{width: 240px; float: left; margin: 20px 90px 30px 20px; line-height: 30px;}	
	#nav>ul>li>div>div>ul{width: 240px; float: left; margin: 20px 90px 30px 20px; line-height: 30px;}	
	
	#nav>ul>li>div>div>div>ul>li.first>a{font-size: 17px; font-weight: bold;}
	#nav>ul>li>div>div>ul>li.first>a{font-size: 17px; font-weight: bold;}
	#nav>ul>li>div>div>div>ul>li>a{font-size: 15px;}
	#nav>ul>li>div>div>div>ul>li.first{padding-bottom: 3px; border-bottom: 2px solid #2d71c4;}
	#nav>ul>li>div>div>ul>li.first{padding-bottom: 3px; border-bottom: 2px solid #2d71c4;}
	
	#nav>ul>li>div>div>div>ul>li:hover a{text-decoration: underline 2px; color: #d48100;}
	#nav>ul>li>div>div>ul>li:hover a{text-decoration: underline 2px; color: #d48100;}
	#nav>ul>li>div>div>div>ul>li.first:hover a{text-decoration: none; color: #555555;}
	#nav>ul>li>div>div>ul>li.first:hover a{text-decoration: none; color: #555555;}



/* ------------------------------------------------------------------------------- */
	
	#footer{ background: #a6a6a6; width: 100%; height: 207px; margin: 0 auto;}
	#bot{width: 1420px; height: 200px; margin: 0 auto; position: relative;}
	#personal{width: 730px; height: 207px;}	
		.privacy{color: #cccccc;}
		.privacy>ul>li{margin-right: 11px; font-size: 18px; font-weight: bold;}
		.privacy>ul{padding-top: 50px;}
		.privacy>ul>li.per{color: #ffffff;}
		.tel{margin-top: 50px; font-size: 20px;}
		span.num1{color: #ffffff; font: 30px;}
		span.gray{color: #0000d9;}
		p{width: 300px;}
	
	#portal{width: 588px; height: 207px; padding-left: 90px; padding-top: 50px; box-sizing: border-box; position: absolute; right: 0px; top: 0px;}
		.top{float: right;}
		.top>a>img{width: 45px; margin-left: 0px;}
		#sns{width: 200px; height: 100px;}
			.facebook{width: 35px; height: 35px; background: url(../images/sns.png) no-repeat -40px -35px; margin-left: 10px;}
			.twitter{width: 35px; height: 35px; background: url(../images/sns.png) no-repeat -0px -35px; margin-left: 10px;}
			.naver{width: 35px; height: 35px; background: url(../images/sns.png) no-repeat -80px -35px; margin-left: 10px;}

