html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
img{border: 0;}
body{background: #; font-size: 26px; color: #333333;}
ul, li, dd, dt, dl{list-style: none;}
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cf:after{content: ''; display: block; clear: both;}

#header{background: #000000; width: 1420px; height: 154px; margin: 0 auto;}
	#main{background: #465daa; width: 1420px; height: 87px; margin: 0 auto;}
	#menu{background: #dadada; width: 1420px; height: 70px; margin: 0 auto;}

	
#section{background: #000000; width: 1420px; height: 1776px; margin: 0 auto;}
	#way{background: #ff00ff; width: 1420px; height: 67px; margin: 0 auto;}
	#top{background: #dd0077; width: 1420px; height: 260px; margin: 0 auto; margin-bottom: 50px;}
		
	#board{width: 1420px; height: 925px; margin: 0 auto; margin-bottom: 57px;}
		#tabMenu{background: #005599; width: 1420px; height: 65px; margin: 0 auto; margin-top: 50px;}
		#mainBoard{background: #678912; width: 1420px; height: 820px; margin: 0 auto; margin-top: 40px;}
		
	#notice{width: 1420px; height: 222px; margin: 0 auto;}
		#leftNotice{float: left; background: #abcdef; width: 475px; height: 222px; margin: 0 auto;}
		#centerNotice{float: left; background: #fedcba; width: 538px; height: 222px; margin: 0 auto;}
		#rightNotice{float: left; background: #519263; width: 407px; height: 222px; margin: 0 auto;}

	
#footer{background: #000000; width: 1420px; height: 200px; margin: 0 auto;}
	#personal{float: left; background: #ab12cd; width: 1010px; height: 200px; margin: 0 auto;}
	#global{float: left; background: #cd98ab; width: 410px; height: 200px; margin: 0 auto;}
