@import url(common.css);
body{background: /* url(../images/QnA2.png) no-repeat center top; */ color: #333333;}
#boardH3 {display:none;}	

#section{width: 100%; height: 1510px; margin: 0 auto;}
	#way{width: 100%; height: 67px; margin: 0 auto; background: #195dae;}
	.wayText{width: 1420px; height: 65px;}
		.wayText{font-size: 20px; color: #ffffff; width: 1420px; height: 67px; padding-top: 5px; padding-left: 25px; margin: 0 auto;}
		.wayText>p{font-size: 20px; color: #ffffff; width: 700px; height: 67px; padding-top: 15px; padding-left: 25px;}
		.wayText>p>a.common{font-size: 20px; color: #ffffff;}
	#title{width: 1420px; margin: 0 auto; margin-top: 50px; margin-bottom: 50px; padding-bottom: 15px; border-bottom: 3px solid #aaaaaa; font-size: 35px;}
	
	#wrap{width: 800px; margin: 0 auto;}
	
	.button>input{padding: 10px 30px 10px 30px; margin-left: 20px;}
	.button>input.write{background: #2d71c4; border-radius:10px;}
	 