#section{width: 1420px; height: auto; margin: 0 auto;}
#main{/* background: rgba(255,0,0,.3);  */width: 100%; height: 1840px; margin: 0 auto; color: #333333; z-index: 90;}
.mainSlide {width: 100%; height:503px; background-color:#f3f8ff; overflow:hidden; min-width:1420px; z-index: 1;}
.mainSlideBg {height:503px; position: relative;}
.slidePanel{width: 100%; height:503px; position:relative;}
.slidePanelInner{width: 100%; height: 503px; position:absolute; top:0; left:100%;}
.slidePanelInnerFirst {top:0; left:0;}
.slideImgLi {width:100%; height:503px; position:relative;}
.slideLeftLine, .slideRightLine {width:50%; height:503px;}
.slideLeftLine{position: absolute; left: -50%; z-index: 1;}
.slideRightLine{position: absolute; right: -50%; z-index: 1;}
.slideLeftLine1 {background: url(../images/rleft.png) repeat-x;}
.slideRightLine1 {background: url(../images/rright.png) repeat-x;}
.slideLeftLine2 {background: url(../images/gleft.png) repeat-x;}
.slideRightLine2 {background: url(../images/gright.png) repeat-x;}
.slideLeftLine3 {background: url(../images/yleft.png) repeat-x;}
.slideRightLine3 {background: url(../images/yright.png) repeat-x;}
.slideLeftLine4 {background: url(../images/bleft.png) repeat-x;}
.slideRightLine4 {background: url(../images/bright.png) repeat-x;}
.sliderImage{display:block; width: 1420px; height:503px; position:absolute; top:0; left:50%; margin-left:-710px;}
.sliderTextPanel{position:relative; width:1420px; margin:0 auto; z-index:4;}
.sliderText{position:absolute; top: 133px; margin-left: 65px; display:none; width:500px;}
.sliderText>p{margin-bottom:45px; font-size:36px; width: 400px; color:#333333;}
.sliderTextFirst{display:block;}
.slideTextAnchor {font-size:20px; border-radius:20px; padding: 5px 15px; color: #ffffff; font-weight:bold;}
.sliderText>a:visited {color: #ffffff;}
.slideTextAnchor1 {background-color:#e2507a;}
.slideTextAnchor2 {background-color:#31d1a0;}
.slideTextAnchor3 {background-color:#f8b32f;}
.slideTextAnchor4 {background-color:#5977b0;}
.slideControlOuter {position:relative; width:1420px; margin:0 auto;}
.controlPanel {position: absolute; top: 70px; left: 70px; height: 30px; overflow: hidden; z-index:4}
.controlBtns {margin-right: 25px;}
.controlButton {width:10px; height:10px; position:relative; cursor: pointer; background-color:#bbc4ca; margin-right:9px; border-radius:9px; margin-top:7px;}
.controlButton.activeBtn {background-color:#556b7a;}
.controlButtonFirst {width:30px;} 
.sliderImage{display:block; width: 1420px; height:503px; position:absolute; top:0; left:50%; margin-left:-710px;}

		.btn{width: 1420px; margin: 0 auto; position: relative;}
		.login{margin: 0 auto;}
		.login>a>img{width: 390px; position: absolute; left: 2px; top: -80px; z-index: 950;}
		.cert{margin: 0 auto;}
		.cert>a>img{width: 285px; position: absolute; left: 392px; top: -80px; z-index: 950;}
		#service{width: 1420px; height: 390px; margin: 0 auto; background: #ffffff;}
		#mainService{width: 715px; height: 390px;}
			#mainService>ul>li>a>img{width: 138px; margin-left: 33px;}
			#mainService>.serviceText{font-size: 21px; margin-top: 15px; margin-left: 38px;}
			.add{margin-top: 114px; margin-right: 60px; font-size: 18px;}
			.in{margin-right: 81px;}
			.tr{margin-right: 62px;}
			.si{margin-right: 61px;}
			.service{margin-top: 106px; font-size: 29px;}
			.productImg>img{margin-top: 14px; width: 681px; height: 176px; }
					
		#bankingProduct{width: 705px; height: 390px; margin: 0 auto;}
			.productImg{width: 74px; height: 74px;}
		#productImg>ul>li{width: 250px; height: 78px;}
			.productOutBox{width: 675px; height: 168px; margin-top: 15px; margin-left: 30px;}
				.productTable{width: 668px; height: 160px; border: 3px solid #dadada;}
				.productTable a, .productTable span{display: block;}
				.productTable a{font-size: 19px; width: 33.3%; height: 50%; padding-top: 29px; padding-left: 43px; border: 1px soild #dadada; box-sizing: border-box; border: 1px solid #dadada;}
				.productTableCell1:before {content:""; display:block; width:33px; height:29px; background: url(../images/back.png) no-repeat -80px -352px; float:left; margin-right:10px;}
				.productTableCell2:before {content:""; display:block; width:33px; height:29px; background: url(../images/back.png) no-repeat -114px -352px; float:left; margin-right:10px;}
				.productTableCell3:before {content:""; display:block; width:33px; height:29px; background: url(../images/back.png) no-repeat -149px -352px; float:left; margin-right:10px;}
				.productTableCell4:before {content:""; display:block; width:33px; height:29px; background: url(../images/back.png) no-repeat -186px -352px; float:left; margin-right:10px;}
				.productTableCell5:before {content:""; display:block; width:33px; height:29px; background: url(../images/back.png) no-repeat -223px -352px; float:left; margin-right:10px;}
				.productTableCell6:before {content:""; display:block; width:33px; height:29px; background: url(../images/back.png) no-repeat -265px -352px; float:left; margin-right:10px;}
			.issued{font-size: 20px; margin-top: 31px; margin-left: 25px; letter-spacing: -1px;}
			.otherLine{float: right; font-size: 20px; margin-top: 31px;  margin-right: 187px; letter-spacing: -1px;}
			.product{font-size: 30px; margin-top: 107px;  margin-left: 29px; letter-spacing: -1px;}
	#event{width: 1420px; height: 315px; margin: 0 auto;}		
		#mainEvent{width: 705px; height: 290px; margin: 0 auto; padding-top: 25px;}
		#mainEvent>.event{width: 576px; height: 75px;}
		#mainEvent>.event>li{float: left; width: 192px; height: 75px; line-height: 75px; border: 1px solid #2d71c4; text-align: center; font-size: 20px; font-weight: bold; box-sizing: border-box;}
		#mainEvent>div{position: absolute; top: -1px; font-size: 20px; line-height: 40px; clear: both;}		
		#mainEvent>.tabCon{position: relative; border: 1px solid #2d71c4; width: 574px; height: 175px;}		
		#mainEvent>.tabCon>.noticeTab{position: absolute; width: 572px; height: 175px; display: block;}
		#mainEvent>.tabCon>.noticeTab>ul>li{padding-top: 10px; padding-left: 20px;}
		#mainEvent>.tabCon>.noticeTab>ul>li>a{font-size: 20px; font-weight: bold;}
		
		#mainEvent>.tabCon>.depositsTab{position: absolute; width: 572px; height: 175px; display: block;}
		#mainEvent>.tabCon>.depositsTab>li>a{position: absolute; width: 598px; height: 175px; padding-left: 20px; line-height: 25px;}
		
		#mainEvent>.tabCon>.eventTab{position: absolute; width: 574px; height: 175px; display: block}
		#mainEvent>.tabCon>.eventTab>ul>li>a>img{width: 574px;}
		
		#recommendProduct{width: 575px; height: 175px;}
			#recommendProduct>.recommenBox{width: 673px; height: 204px;}
			#recommendProduct>.recommen{font-size: 28px; margin-top: 20px; margin-left: 39px; letter-spacing: -1px;}
			.loan{float: left; width: 287px; height: 175px; background: #10abb1; padding-top: 22px; padding-left: 9px; box-sizing: border-box;}
				.loan>ul{display: block; width: 260px; height: 150px;}
				.loan>ul>li>a{color: #ffffff; font-size: 18px;}
			
			.deposit{float: left; width: 287px; height: 175px; background: #3d90d2;}
				.deposit>ul{display: block; width: 260px; height: 150px; padding-top: 22px; padding-left: 9px; box-sizing: border-box;}
				.deposit>ul>li>a{color: #ffffff; font-size: 18px; line-height: 30px;}


		#mainEvent>.event>.TabBtn{border-left: none;}
		#mainEvent>.event>.active{position: relative; z-index: 10;}
		#mainEvent>.event>.active a{color: #ffffff;}
		#mainEvent>.event>li:hover{background: #2d71c4;}
		#mainEvent>.event>li:hover a{color: #ffffff;}


			
			span.box{font-size: 17px; font-weight: bold; color: #ffffff; background-color: #5c6a8f; border: 2px solid #5c6a8f; border-radius: 3px; padding-left: 8px; padding-right: 6px;}
	
	#weather_content_box {width:700px;}
		.weather_content {width:700px; height: 302px; background-color:#c1cfff; margin-top:25px;}
		.weather_box {width: 320px; height:262px; box-sizing:border-box; border:1px solid #464637; margin:20px; position:relative; background: url(../images/clear_bg.png);}
		.black_alpha {position:absolute; width: 278px; height:140px; /* height:220px; */ background:url(../images/black_alpha.png) no-repeat; z-index:3; top:20px; left:20px; overflow:hidden;}
		.forecast_weather {margin-left:0;}
		.today_title, .forecast_title {position:relative; display:block; font-size:21px; color:#fdfdfd; text-shadow:1px 1px 5px #666666; margin-left:40px; margin-top:30px; z-index:4}
		.today_weather_icon, .forecast_weather_icon {width:150px; display:block; margin-top:10px; margin-left:-25px; position:absolute; z-index:4}
		.today_date_text, .forecast_date_text {margin-bottom: 9px; font-size:16px;}
		.today_temp_text, .forecast_temp_text {display:block; color:#fdfdfd; font-size:50px; position: absolute;  left: 100px; top: 50px; text-shadow:1px 1px 5px #666666; z-index:4}
		.weather_text_box {position:relative; color:#fdfdfd;  width:298px; height:110px; padding-top:140px; padding-left: 20px; text-shadow:1px 1px 5px #666666; z-index:4;}
		.weather_text_box>span {display:block; width: 110px; font-size:15px; letter-spacing:normal; margin-bottom:1px;}
		
	#notice{width: 1420px; height: 263px; margin: 0 auto;}
		ul li{list-style: ;}
		#leftNotice{width: 455px; height: 265px;}
		#centerNotice{width: 459px; height: 265px; margin-left: 41px;}
		#rightNotice{width: 430px; height: 265px; margin-left: 35px;}
		
		.border{border-bottom: 5px solid #2d71c4; width: 38px; margin-top: 21px; margin-bottom: 10px;}
		span.spanNotice{display: block; font-size: 27px; margin-bottom: 20px;}
		#leftNotice>ul>li>a{font-size: 20px; line-height: 40px;}
		#centerNotice>ul>li>a{font-size: 20px; line-height: 40px;}
		#rightNotice>ul>li>a{font-size: 20px; line-height: 40px;}
		
	#time{width: 100%; height: 248px; margin: 0 auto; background: #f8f8f8;}
		#listWrap{width: 1420px; display: block; margin: 0 auto;}
			.time{width: 430px; height: 245px; display : block;}
			.time:after{width : 1px; height : 140px; background : #dadada; display : block; content : ''; float: right; margin-top: 60px;}
			.time>ul.list5>li>a, .time>ul.list6>li>a{width: 300px; font-size: 20px;}
			.time>ul li{margin-top: 40px; margin-left: 35px;}
		#telNum>img{float: left; width: 130px; height: 130px; margin-left: 56px; margin-top: 56px; margin-right: 24px;}
		#telNum>p{width: 865px; margin-left: 122px; margin-top: 59px; font-size: 18px;}
		span.serviceCenter{font-size: 35px; font-weight: bold;}
		span.bold{font-weight: bold;}
		span.num{color: #3579d4; font-size: 35px;}
	
	
	.quickToggle{position: fixed; top: 0; right: 70px; width: 70px; height: 70px; background: url(../images/quick_close.png) no-repeat; display: block; cursor: pointer; z-index: 1500;}
	.quickToggle>.indent{display: none;;}
	.quickOpen{position: fixed; top: 0; right: 70px; width: 70px; height: 70px; background: url(../images/quick_open.png) no-repeat; display: block; cursor: pointer;}
	.quickmenu{position: fixed; top: 0; right: 0; width: 70px; height: 100%; background: #585858; z-index: 1500;}
	.quickmenu .quickIcon{padding-top: 10px;}
	.quickmenu .quickIcon li{text-align: center;}
	.quickmenu .quickBt{position: absolute; bottom: 0; right: 0;}
	.quickmenu .quickBt li{padding: 1px 0;}
		
	.pop{width: 100%; height: 61%; z-index: 1000; position: absolute; top: 300px; left: -300px;}

		.countWrap{width: 400px; margin: 0 auto; margin-top: 15px; text-align:center; padding-bottom: 10px;}
		.pop>.popupInner>.countWrap>#popContent>p{margin-left: 55px; margin-bottom: 20px; font-size: 16px;}
		.pop>.popupInner>.countWrap>#popContent>p>span{font-size: 20px; font-weight: bold; margin-bottom: 20px;}	
		.countWrap #timer{display:inline-block;}
		
		.popupInner{width: 400px; height: 400px; margin: 0 auto; background: #ffffff; border: 2px solid #333333; text-align: center;}
		.popupInner>.popTitle{height: 45px; font-size: 24px; text-align: center; background: #2d71c4; line-height: 45px;}		
		.popupInner>.popTitle{color: #ffffff;}
		.popupInner>p{width: 400px; text-align: center; margin-bottom: 10px;}
		.popupInner span{float: left;}
		.popupInner>button{float: right; background: #2d71c4; color: #ffffff; margin-right: 20px; padding: 3px; border: none; margin-top: 10px;}
		.popupInner>.client{font-size: 16px; border: 1px solid #ffffff; margin-left: 20px; margin-top: 10px;}
		.popupInner>.client>a{background: #0000ff; color: #ffffff; padding: 3px;}